h1 {
  font-family: sans-serif;
  color:
}

h2 {
  font-family: sans-serif;
  color:
}

p {
  font-family: sans-serif;
}

#page-wrap {
     width: 800px;
     margin: 0 auto;
}

body {
  background-color: #cce0ff;
}

button {

}
